.navbar {
  position: relative;
  padding: 0px;
  border-bottom: 1px solid #dfdbdb;
}

.navbar .container-fluid {
  background: white;
  padding: 5px;
}

.navbar .container-fluid .navbar-brand {
  margin: 0 0 0 50px;
  padding: 0px;
}

.navbar .container-fluid .navbar-brand .bio-logo {
  height: 60px;
  width: 120px;
}

.navbar .container-fluid .collapse .navbar-nav {
  margin: 0 0 0 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar .container-fluid .collapse .navbar-nav .nav-item {
  position: relative;
  margin: 10px;
}

.navbar .container-fluid .collapse .navbar-nav .nav-item .nav-link {
  font-size: 16px;
  color: #0C2C65;
}

.navbar .container-fluid .collapse .navbar-nav .nav-item .dropdown-menu .dropdown-item {
  font-size: 14px;
}

.navbar .container-fluid .collapse .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover {
  background: #0C2C65;
  color: white;
}

@media (max-width: 768px) {
  .navbar {
    position: relative;
  }
  .navbar .container-fluid .navbar-brand {
    margin: 0 0 0 10px;
  }
  .navbar .container-fluid .collapse .navbar-nav {
    display: grid;
    margin: 0px 0px 0px 10px;
    justify-content: flex-start;
    align-items: center;
  }
  .navbar .container-fluid .collapse .navbar-nav .nav-item {
    margin: 10px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
  .navbar {
    position: relative;
  }
  .navbar .container-fluid .navbar-brand {
    margin: 0 0 0 30px;
  }
  .navbar .container-fluid .collapse .navbar-nav {
    display: grid;
    margin: 0px 0px 0px 30px;
    justify-content: flex-start;
    align-items: center;
  }
  .navbar .container-fluid .collapse .navbar-nav .nav-item {
    margin: 10px;
  }
}
